name: Issue Bot PR Creator

on:
  issues:
    types: [opened]

permissions:
  contents: write
  pull-requests: write
  issues: read

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Configure git identity
        run: |
            git config user.name "cemar-bot"
            git config user.email "252385437+cemar-bot@users.noreply.github.com"


      - name: Install deps
        run: npm install @actions/core @actions/github js-yaml

      - name: Run bot
        run: node bot.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
